.portfolio{
    background-image: url('../../assets/coding.jpg');

    background-size: cover;
    background-position: center center;
}
.container{
    padding: 0;
    margin: 0;
    position: absolute;
    justify-items: center;
    align-items: center;
}
.cuote{
    position: relative;
    margin-block: 10%;
    margin-left: 3px;
    color: gainsboro;
    text-shadow: 0.5rem 0.5rem 0.2rem black;
    font-size: 4rem;
}